*.log
*.pot
*.pyc
main/__pycache__/
mysite/__pycache__/
local_settings.py
db.sqlite3
media
migrations/
#virtual environment
myvenv/
venv/
#secretkey
secret_key.json
#static root
.static_root/
.DS_Store
